.headerTop {
    background: rgb(6, 15, 19);
    display: flex;  
    justify-content: center;  
    .headerLogo {
        height: 2.5em;
        @media (max-width: 480px) {
            height: 3.5em;
        }
    }
}

.headerBot {
    display: flex;
    background: rgb(34, 45, 51);
    height: 2.5em;
    @media (max-width: 480px) {
        font-size: 1.5em;
    }
}