@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg) no-repeat center center fixed;
    background-size: cover;  
    font-family: 'Arimo', Arial;
    font-weight: 400;
}

